<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Catalog</title>
    <style>

    </style>
</head>
<body>
    

    <script>
        let i = 0; // Start point
        let images = [];
        let time = 3000;

        // Image list
        images[0] = 'https://i.ibb.co/Cn0NGDy/image4.jpg';
        images[1] = 'https://i.ibb.co/c2yhBDJ/image3.jpg';
        images[2] = 'https://i.ibb.co/416jL9R/image2.jpg';
        images[3] = 'https://i.ibb.co/XksFQ31/image1.jpg';
        images[4] = 'https://i.ibb.co/RNWh8sm/rolls-royce-103ex-share-image.jpg';
        images[5] = 'https://i.ibb.co/KNWgB9V/Buick.jpg';
        images[6] = 'https://i.ibb.co/MMtFKZn/roadster.jpg';
        images[7] = 'https://i.ibb.co/sCbjNJg/vintagebenz.jpg';

        function changeImg() {
            document.slide.src = images[i];

            if(i < images.length - 1) {
                i++;
            } else {
                i = 0;
            }

            setTimeout("changeImg()", time);
        };

        window.onload = changeImg;

    </script>

    <img src="" alt="" name="slide" width="100%", height="700px" id="slideshow">
</body>
</html>