<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit your Favorite</title>
</head>
<body>
    <div class="form-container">
        <form method="POST" action="/user-favs" class="create-car">
            <label for="carMake" class="create-car">Make</label>
            <input id="carMake" type="text" name="make" class="create-car">
    
            <label for="carModel" class="create-car">Model</label>
            <input id="carModel" type="text" name="model" class="create-car">
    
            <label for="carYear" class="create-car">Year</label>
            <input id="carYear" type="text" name="year" class="create-car">
    
            <label for="carImgUrl" class="create-car">Img URL</label>
            <input id="carImgUrl" type="text" name="img_url" class="create-car">
    
    
            <input type="submit" id="bttn">
    
        </form>
    </div>
</body>
</html>